<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('bimageqi.avif');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }

        .display {
            position: relative;
            top: -20px;
            /* Adjusted top value */
            padding: 15px;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }


        .logo {
            background-image: url('favicon.webp');
            background-position: center;
            background-size: cover;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin: 2px;
            margin-left: 7px;
        }

        .bottom-nav {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #232323;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            z-index: 999;
        }


        .buttons {
            display: flex;
            justify-content: left;
            gap: 20px;
            /* Adjusted padding for large screens */
            padding-left: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 1em;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: #fff;
            color: #000;
        }

        #title {
            padding: .1em;
            font-size: 100px;
            color: #fff;
        }

        #narration {
            padding-left: .3em;
            font-family: sans-serif;
        }

        .item {
            display: flex;
            align-items: center;
            color: #fff;
            cursor: pointer;
        }

        .material-symbols-outlined {
            margin-right: 10px;
        }

        .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        .card {
            flex: 1 1 calc(33.33% - 20px);
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            opacity: 70%;
        }

        .card h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 16px;
            color: #666;
        }


        @media screen and (max-width: 600px) {
            #title {
                font-size: 70px;
                margin-bottom: -20px;
            }

            #narration {
                padding-left: .3em;
                display: none;
            }

            .buttons {
                /* Adjusted padding for small screens */
                padding-left: 3px;
            }

            .services {
                margin-top: 0;
            }

            .card {
                flex: 1 1 calc(100% - 20px);
                margin: 10px 0;
            }

            .bottom-nav {
                position: relative;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #232323;
                padding: 10px;
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                z-index: 0;
            }
        }
    </style>
</head>

<body>
    <div class="display">
        <h1 id="title">Spectrum</h1>
        <h3 id="narration">Welcome to Spectrum. Looking to monitor field personnel activity real time? Use Spectrum.
        </h3>
        <div class="services">
            <div class="card">
                <h2>Field Personnel Monitoring</h2>
                <p>Do you often send personnel to the field and to monitor their activities or ensure transparency in
                    operations? User Spectrum</p>
            </div>
            <div class="card">
                <h2>Remote Tasks Monitoring</h2>
                <p>Do you often give out remote tasks and need to monitor them in real-time or ensure transparency and
                    quality? User Spectrum</p>
            </div>
            <div class="card">
                <h2>General Personnel Management</h2>
                <p>Do you have personnel in field or in your organusation and need to monitor their activities or ensure
                    transparency in operations and keep secure records? User Spectrum</p>
            </div>
        </div>

        <dialog class="dialog" style="background-color: #232323; border: none; border-radius: 8px; color: #fff;"
            id="privacy-dialog">
            <h1>Privacy Policy</h1>

            <h2>Introduction</h2>
            <p>Welcome to [Spectrum] ("we," "our," or "us"). We are committed to protecting your privacy and
                handling your personal information with care and respect. This Privacy Policy describes how we collect,
                use, and share your personal information when you use our website or services.</p>

            <h2>Information We Collect</h2>
            <p>When you use our website or services, we may collect the following types of personal information:</p>
            <ul>
                <li>Name</li>
                <li>Email address</li>
                <li>Phone number</li>
                <li>Photograph (if provided by the user)</li>
            </ul>

            <h2>How We Use Your Information</h2>
            <p>We may use the personal information we collect for the following purposes:</p>
            <ul>
                <li>Marketing: We may use your email address and phone number to send you promotional materials, special
                    offers, or other marketing communications.</li>
                <li>Contact: We may use your email address, phone number, and any other contact information you provide
                    to communicate with you about your account, respond to your inquiries, and provide customer support.
                </li>
            </ul>

            <h2>Sharing Your Information</h2>
            <p>We may share your personal information with third-party service providers who assist us in operating our
                website, conducting our business, or servicing you, subject to appropriate confidentiality and security
                measures.</p>

            <h2>International Transfers</h2>
            <p>Your personal information may be transferred to, and processed in, countries other than the country in
                which you are resident. These countries may have data protection laws that are different from the laws
                of your country.</p>

            <h2>Security</h2>
            <p>We take reasonable precautions to protect your personal information from loss, misuse, unauthorized
                access, disclosure, alteration, and destruction. However, please be aware that no method of transmission
                over the internet or method of electronic storage is 100% secure.</p>

            <h2>Changes to This Privacy Policy</h2>
            <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective
                immediately upon posting the updated Privacy Policy on the website.</p>

            <h2>Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at spectrum@gmail.com.</p>

            <button id="privacy-agreement">Accept privacy terms</button>
        </dialog>
        <dialog class="dialog" style="background-color: #232323; border: none; border-radius: 8px; color: #fff;"
        id="terms-dialog">
        <h1>Terms of Service</h1>

        <p>These Terms of Service ("Terms") govern your access to and use of [Spectrum] (the "Service"), operated
            by [Spectrum] ("Company," "we," "us," or "our"). Please read these Terms carefully before using the
            Service.</p>

        <h2>Acceptance of Terms</h2>

        <p>By accessing or using the Service, you agree to be bound by these Terms. If you do not agree to all the
            terms and conditions of this agreement, then you may not access the Service.</p>

        <h2>Use of the Service</h2>

        <p> <strong>Eligibility:</strong> You must be at least 18 years old to use the Service. By using the
            Service, you represent and
            warrant that you are at least 18 years old.
            <strong>Accounts: </strong>You may be required to create an account to access certain features of the
            Service. You are
            responsible for maintaining the confidentiality of your account and password and for restricting access
            to
            your account. You agree to accept responsibility for all activities that occur under your account or
            password.
            <strong> User Content:</strong> The Service may allow you to post, link, store, share, and otherwise
            make available certain
            information, text, graphics, videos, or other material ("User Content"). You are solely responsible for
            your
            User Content and the consequences of posting or publishing it.
        </p>

        <h2>Intellectual Property</h2>

        <p>The Service and its original content (excluding User Content), features, and functionality are and will
            remain the exclusive property of Company and its licensors. The Service is protected by copyright,
            trademark, and other laws of both Kenya and foreign countries. Our trademarks and trade dress may
            not be used in connection with any product or service without the prior written consent of Company.</p>

        <h2>Privacy Policy</h2>

        <p> Our Privacy Policy explains how we collect, use, and disclose information about you. By using the
            Service,
            you consent to the collection and use of your information in accordance with our Privacy Policy.</p>

        <h2>Termination</h2>

        <p> We may terminate or suspend your account and bar access to the Service immediately, without prior notice
            or
            liability, under our sole discretion, for any reason whatsoever and without limitation, including but
            not
            limited to a breach of the Terms.</p>

        <h2> Limitation of Liability</h2>

        <p> In no event shall Company, nor its directors, employees, partners, agents, suppliers, or affiliates, be
            liable for any indirect, incidental, special, consequential, or punitive damages, including without
            limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your
            access
            to or use of or inability to access or use the Service; (ii) any conduct or content of any third party
            on
            the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use, or
            alteration
            of your transmissions or content, whether based on warranty, contract, tort (including negligence), or
            any
            other legal theory, whether or not we have been informed of the possibility of such damage, and even if
            a
            remedy set forth herein is found to have failed of its essential purpose.</p>

        <h2>Changes to Terms</h2>

        <p> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
            revision is
            material, we will provide at least 30 days' notice prior to any new terms taking effect. What
            constitutes a
            material change will be determined at our sole discretion.</p>

        <h2>Contact Us</h2>

        <p> If you have any questions about these Terms, please contact us at spectrum@gmail.com.
        </p>
        <button id="agreement">Accept terms and conditions</button>
    </dialog>
        <div class="buttons">
            <button id="fieldOfficerBtn">Field Officer</button>
            <button id="adminBtn">Administrator</button>
        </div>
    </div>
    <div class="bottom-nav">
        <div class="item" id="privacy"><span class="material-symbols-outlined">
                security
            </span>
            <p>Privacy</p>
        </div>
        <div class="item" id="terms"><span class="material-symbols-outlined">
                gavel
            </span>
            <p>Terms</p>
        </div>

        <div class="item" id="help"> <span class="material-symbols-outlined">
                help
            </span>
            <p>Help</p>
        </div>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const fieldOfficerBtn = document.getElementById('fieldOfficerBtn');
            const adminBtn = document.getElementById('adminBtn');
            const termsText = document.getElementById('terms');
            const privacyText = document.getElementById('privacy');
            const termsDialogBox = document.getElementById('terms-dialog');
            const privacyDialogBox = document.getElementById('privacy-dialog');
            const acceptBtn = document.getElementById('agreement');
            const privacyAcceptBtn = document.getElementById('privacy-agreement');
            const helpBtn = document.getElementById('help');

            fieldOfficerBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/login';
            });

            helpBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/help';
            });

            adminBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/admin';
            });

            termsText.addEventListener('click', async (e) => {
                e.preventDefault();
                termsDialogBox.showModal();
            })

            privacyText.addEventListener('click', async (e) => {
                e.preventDefault();
                privacyDialogBox.showModal();
            })

            acceptBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                termsDialogBox.close();
            })

            privacyAcceptBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                privacyDialogBox.close();
            })
        });
    </script>
</body>

</html>